* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    font-family: 'Lexend', sans-serif;
}
/* utility */
img{
    height: 60px;
    width: 60px;
    cursor:pointer;
    border-radius: 50%;
}

i {
    cursor: pointer;
    font-size: 20px;
}
/* utility */

/* background pagina */
.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
	top: 0;
    left: 0;
	z-index: -1;
	background-color: #d9dbd5;
}

.background-top {
    width: 100vw;
    height: 125px;
    background-color: #1ca696;
}
/* fine background pagina */

.container {
    display: flex;
    position: absolute;
    top: 30px;
    left: 10%;
    width: 80%;
    height: 90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/* left and right side */
.list-user {
    width: 40%;
    height: 100%;
    border-right: 2px solid silver;
}

.img-user-left, .img-user-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #F4F0ED;
    padding: 10px;
}

.profile-user, .info-user-active{
    display: flex;
    align-items: center;
}
.profile-user span {
    margin-left: 10px;
}

.right-icons i {
    font-size: 20px;
    color: #9e9e9e;
    padding: 10px;
}

/* alert + notifications */
.alert-notify {
    background-color: rgb(135, 206, 245);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.bell-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}
.bell-alert i {
    font-size: 22px;
    color: rgb(153, 223, 252);
}

.mex-alert p {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

/* search + new chat */
.research {
    height: 50px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
}
.research i {
    color: rgb(190, 193, 195);
    font-size: 15px;
    padding-left: 30px;
}

#search-bar {
    border: none;
    width: 80%;
    line-height: 30px;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #d8d0d0;
    outline: none;
}

/* recent chat list */
.recent-chat {
    height: calc( 100% - 80px - 80px - 50px );
    background-color: white;
    overflow-y: scroll;
}

.list-chat {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.list-chat:hover {
    background-color: rgb(231, 233, 236);
    cursor: pointer;
}

.recent-conversations {
    display: flex;
}


.recent-user-mex {
    padding: 10px;
}
.recent-user-mex p {
    font-size: 14px;
    color: silver;
}

/* .time-last-mex {
    font-size: 12px;
    color: silver;
    float: right;

} */

/* right side */
.chat {
    width: 60%;
}

.conversation {
    height: calc( 100% - 80px - 80px );
    background-image: url("../img/mine.jpg");
    clear: both;
    padding: 40px;
    object-fit: cover;
    overflow-y: scroll;
}

/* chat messages */
.chat-message p {
    max-width: 250px;
    min-width: 30px;
    padding: 10px;
    clear: both;
    border-radius: 10px;
    border: 1px solid silver;
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
}

.chat-message p.received {
    background-color: white;
    float: left;
    position: relative;
}
.chat-message p.sent {
    background-color: #9bde91;
    float: right;
    position: relative;
}

.time-messages {
    font-size: 12px;
    color: grey;
    position: absolute;
    right: 0;
    bottom: 0;

}

#arrow-menu {
    opacity: 0;
    position: relative;
}
.chat-mexage p:hover #arrow-menu {
    opacity: 1;
}

#arrow-menu span {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
    top: 100%;
    left: -400%;
    width: 100px;
    height: 100px;
    z-index: 1;
    text-align: center;
    padding-top: 10px;
}

/* input-mex */
.input-mex {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F0ED;
}

#input-message {
    width: 80%;
    line-height: 30px;
    padding-left: 10px;
    outline: none;
}

/* @media screen and (max-width: 500px) {
    body {
        width: 100%;
        height: 100vh;
    }
} */